<div class="modal fade" tabindex="-1" role="dialog" id="modal_tags">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Compartilhe sua Nota</h4>
      </div>
      <div class="modal-body">
        <div class="row tag-item">
          <form class="remove_user">
            <div class="col-md-9 col-xs-8">
              <p>Ruby On Rails</p>
              <input type="hidden" name="title" value="Rails">
            </div>
            <div class="col-md-1 col-xs-3">
              <button type="submit" class="btn btn-sm">X</button>
            </div>
          </form>
        </div>
        <hr>
        <div class="row tag-item">
          <form class="add_tag">
            <div class="col-md-8 col-xs-8" class="form-group">
              <input type="text" name="title" class="form-control" placeholder="Titudo da Tag">
            </div>
            <div class="col-md-2 col-xs-3">
              <button type="submit" class="btn btn-success">+ Tag</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
